
<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div class="row" style="margin-top: 15px">
    <sca-back-forward></sca-back-forward>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        Monitoramento de Sensores
      </h2>
    </div>
  </div>


  <table class="table table-bordered table-striped">
		<thead class="header-table">
		<tr>
    <td>MINA</td>
		<td>SENSOR</td>
    <td>TEMPERATURA</td>
    <td>PRESSÃO</td>
    <td>SITUAÇÃO</td>
    <td class="text-center">COMUNICAÇÃO</td>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let sensor of sensores | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 10,
                                                      currentPage: page,
                                                      totalItems: totalRec }; let i = index">
    <td>{{sensor.unidade_exploracao_id}}</td>
    <td>{{sensor.id}}</td>
    <td>{{sensor.temperatura}}</td>
    <td>{{sensor.pressao}}</td>
    <td>{{sensor.situacao}}</td>
    <td class="text-center"><i class="fa fa-envelope-o" style="color: #4682B4; cursor: pointer; font-size: 17px;"  [routerLink]="['/email', sensor.unidade_exploracao_id]"></i></td>
		</tr>
		</tbody>
	</table>
  <div>
		<pagination-controls  id="listing_pagination" autoHide="true" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
	</div>

</div>
